#main-menu-page {
    display: block;
}

.main-menu {

    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
    }

    > button {
        margin-bottom: 1rem;
    }
}