#settings-page {
    display: none;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__list {
        list-style-type: none;
        

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 26px;
            padding: 0.5rem 0px;

            &--slider-group {
                flex-direction: column;
                width: 100%;
            }

            &__slider {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-right: .9rem;
                box-sizing: border-box;
            }
        }
    }

    .card {
        width: 60%;
    }
}