#settings-page {
    display: none;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
    }

    .card {
        width: 85%;
    }
}