game-btn, .btn, button {
    font-family: $font;
    text-transform: $text-transform;

    text-align: center;

	position: relative;
    cursor: pointer;
    border: none;
    outline: none;

    top: $button-position-top-normal;
    background: $button-background-color;
    color: $button-color;
    padding: $button-padding;

    border-radius: $button-border-radius;
    box-shadow: $button-box-shadow-normal;
    transition: $button-transition;

    font-size: 2rem;
    margin-bottom: 1rem;
}

game-btn:hover, .btn:hover, button:hover {
	box-shadow: $button-box-shadow-hover;
    top: $button-position-top-hover;
}

game-btn:active, game-btn.selected, .btn:active, button:active {
	box-shadow: $button-box-shadow-active;
    top: $button-position-top-active;
}

.switch-btn-group {
    width: 100%;
    display: flex;
    flex-direction: row;

    game-btn {
        width: 100%;
        margin: 0;
        border-radius: 0;
        font-size: 24px;
        border-right: solid 1px black;
    }

    game-btn:first-child {
        border-top-left-radius: $border-radius;
    }

    game-btn:last-child {
        border-top-right-radius: $border-radius;
        border-right: none;
    }

}