.card {
    padding: $card-padding;
    background-color: $card-background-color;
    border-radius: $card-border-radius;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 65%;

    &__header {
        position: absolute;
        width: 100%;
        margin: auto;
        top: -47px;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.0);
    }

    &__title {
        padding: 1rem 3rem;
        background-color: white;
        border: 1px solid red;
        border-radius: 2rem;
        width: fit-content;
        margin: auto;
    }

    &__content {
        margin: $card-content-margin;

        &__title {
            font-size: 26px;
            text-align: center;
            margin: .5rem;
        }
    }
}