#pause-game-modal {
    display: none;
}

.pause {

    &__list {
        display: flex;
        flex-direction: column;

        > button {
            margin-bottom: $pause-list-margin-bottom;
        }
    }
}